.grid-container {
    display: grid;
    gap: 20px; 
    padding: 20px;
    grid-template-columns: 1fr; 
  }
  
  @media (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    background: aliceblue;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

