*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body{
    height: 100%;
}

body{
    background-color: #F6F7C4;
}

#root{
    background-color: #F6F7C4;
display: flex;
justify-content: center;
}